<html>
	{% include "includes.html" with title="Новая маршрутная карта" %}
	<body>
		{% include "header.html" %}
		<div class="container">
			<div class="row">
				{% if message %}
				<p>{{ message }}</p>
				{% endif %}
				<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
					<ul class="nav nav-tabs" role="tablist">					
					    <li role="presentation" class="active">
					    	<a href="#kkp" aria-controls="kkp" role="tab" data-toggle="tab">ККП</a>
					    </li>
					    <li role="presentation">
					    	<a href="#door" aria-controls="door" role="tab" data-toggle="tab">Сборка двери</a>
					    </li>
					    <li role="presentation">
					    	<a href="#ventilation" aria-controls="ventilation" role="tab" data-toggle="tab">Сборка вентиляционной решётки</a>
					    </li>
					    <li role="presentation">
					    	<a href="#equip_installation" aria-controls="equip_installation" role="tab" data-toggle="tab">Монтаж ОТ оборудования</a>
					    </li>
					    <li role="presentation">
					    	<a href="#electro_installation" aria-controls="electro_installation" role="tab" data-toggle="tab">Монтаж электрооборудования</a>
					    </li>
					    <li role="presentation">
					    	<a href="#pipe_tie" aria-controls="pipe_tie" role="tab" data-toggle="tab">Трубная обвязка</a>
					    </li>
					    <li role="presentation">
					    	<a href="#grb" aria-controls="grb" role="tab" data-toggle="tab">ГРБ</a>
					    </li>
					</ul>

					<form method="post" action="{% url 'newpathcard' %}" class="newpathcard_form form-horizontal">

						<div class="form-group">	
							<input class="form-control hide" name="station" value="{{ station }}"/>
						</div>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="kkp">
								{% include "pathcard/agregator.html" with input_types=KKP_type input_field_name="KKP" input_set=KKP_set input_overtypes=overtype_KKP %}
							</div>

							<div role="tabpanel" class="tab-pane" id="door">
								{% include "pathcard/agregator.html" with input_types=door_type input_field_name="door" input_set=door_set input_overtypes=None %}
							</div>

							<div role="tabpanel" class="tab-pane" id="ventilation">
								{% include "pathcard/agregator.html" with input_types=ventil_type input_field_name="ventil" input_set=ventil_set input_overtypes=None %}
							</div>

							<div role="tabpanel" class="tab-pane" id="equip_installation">
								{% include "pathcard/agregator.html" with input_types=equip_type input_field_name="equip" input_set=equip_set input_overtypes=overtype_equip %}
							</div>
					
							<div role="tabpanel" class="tab-pane" id="electro_installation">
								{% include "pathcard/agregator.html" with input_types=electro_type input_field_name="electro" input_set=electro_set input_overtypes=overtype_electro %}
							</div>
					
							<div role="tabpanel" class="tab-pane" id="pipe_tie">
								{% include "pathcard/agregator.html" with input_types=pipe_type input_field_name="pipe" input_set=pipe_set input_overtypes=overtype_pipe %}
							</div>

							<div role="tabpanel" class="tab-pane" id="grb">
								{% include "pathcard/agregator.html" with input_types=GRB_type input_field_name="GRB" input_set=GRB_set input_overtypes=overtype_GRB %}
							</div>
						</div>

						<div class="form-group hide">	
							<input class="form-control wt_amount" name="wt_amount"/>
						</div>

						<div class="form-group hide">	
							<input class="form-control custom_wt_amount" name="custom_wt_amount"/>
						</div>

						<div class="form-group hide">
							<input class="form-control custom_wot_amount" name="custom_wot_amount"/>
						</div>

						<div class="form-group hide">
							<input class="form-control save_flag" name="save_flag"/>
						</div>
						<hr>
						<div class="form-group">
							<div class="col-sm-3">
								<button class="btn submit">Назначить маршрутную карту</button>
							</div>

							<div class="col-sm-5"></div>
							<button class="btn save">Сохранить маршрутную карту</button>
						</div>
						{% csrf_token %}
					</form>				
				</div>
			</div>
		</div>
		{% include "footer.html" %}
	</body>
<!--
	{#% load static from staticfiles %#}
	<script type="text/javascript" src="{#% static "pathcard_script.js" %#}"></script>

-->
<script>
//======================================DELETION===========================
var deletion = function(me, class_to_delete) {
	var cur_tab = $(this).parents(".tab-pane");  //cur = current
	me.parents(class_to_delete).remove();
	global_recalculate(cur_tab);
	local_recalculate(cur_tab);
};

var default_deletion = function(){
	deletion($(this), ".worktype");
};

var custom_deletion = function() {
	deletion($(this), ".worktype_custom");
};

$(".deletion").click(default_deletion);


//======================================ADDING===========================
var adding_function = function(me, is_custom){
	cur_tab = me.parents(".tab-pane");
	cur_block = me.parents(".form-container");

	//apply classes to new block
	if (is_custom) {
		custom_class = "_custom";
	}
	else {
		custom_class = "";
	};
	var to_clone = cur_block.find(".adding_reserve" + custom_class).clone();
	to_clone.removeClass("hide adding_reserve" + custom_class).addClass("worktype" + custom_class);
	to_clone.find(".qnt_reserve").addClass("qnt js-recalculate").removeClass("qnt_reserve");
	to_clone.find(".time_reserve").addClass("time_value js-recalculate").removeClass("time_reserve");
	to_clone.find(".sum_time_reserve").addClass("time_sum").removeClass("sum_time_reserve");

	cur_block.find(".divider").before(to_clone);

	//apply functions for new block
	added_block = cur_block.find(".worktype" + custom_class).last();
	if (is_custom) {
		added_block.find(".deletion").on('click', custom_deletion);
		added_block.find(".js-recalculate").on('change', all_recalculate);
	}
	else {
		added_block.find(".deletion").on('click', default_deletion);
		added_block.find(".js-recalculate").on('change', all_recalculate);
		added_block.find(".wt-select").on('change', update_time);
		added_block.find(".wt-select").on('change', update_description);
		$(added_block.find(".wt-select")).trigger('change');
		$(added_block.find(".js-recalculate")).trigger('change');
	};
};

var default_adding = function(){
	adding_function($(this), false);
}

var custom_adding = function(){
	adding_function($(this), true);
}

$(".adding").click(default_adding);
$(".custom-adding").click(custom_adding);

$(".custom-adding-oper").click(function(){
	cur_tab = $(this).parents(".tab-pane");

	var to_clone = cur_tab.find(".custom-work-overtype-reserve").clone();
	to_clone.addClass("custom-work-overtype").removeClass("hide custom-work-overtype-reserve");
	to_clone.find(".oper_time_reserve").addClass("oper_time").removeClass("oper_time_reserve");

	cur_tab.find(".oper-divider").before(to_clone);

	var added_block = cur_tab.find(".custom-work-overtype").last();

	added_block.find(".custom-adding").on('click', custom_adding);
	added_block.find(".custom-overtype-input").on('input', function(){
		string_to_label = $(this).val();
		$(this).parents(".custom-work-overtype").find(".custom-overtype-label").html(string_to_label);
	})

});


//======================================RECALCULATE===========================
var all_recalculate = function(){
	cur_wt = $(this).parents(".worktype, .worktype_custom");
	recalculate_worktype(cur_wt);
	cur_overtype = $(this).parents(".work-overtype, .custom-work-overtype");
	local_recalculate(cur_overtype);
	cur_tab = $(this).parents(".tab-pane");
	global_recalculate(cur_tab);
}

var recalculate_worktype = function(worktype) {
	var qnt = parseInt(worktype.find(".qnt").val());
	if (isNaN(qnt)) qnt=0;
	var value = parseInt(worktype.find(".time_value").val());
	if (isNaN(value)) value = 0;

	worktype.find(".time_sum").val( qnt * value );
};

function local_recalculate(cur_overtype){
	var local_sum = 0;
	cur_overtype.find(".worktype, .worktype_custom").each(function(){
		var cur_time = parseInt($(this).find(".time_sum").val());
		if (isNaN(cur_time)) 
			cur_time = 0;
		local_sum += cur_time;
	});
	cur_overtype.find(".oper_time").val(local_sum);
};

function global_recalculate(cur_tab){
	global_sum = 0;
	cur_tab.find(".oper_time").each(function(){
		var cur_time = parseInt($(this).val());
		if (isNaN(cur_time)) 
			cur_time = 0;
		global_sum += cur_time;
	});
	cur_tab.find($(".time_tab")).val(global_sum);
};

$(".js-recalculate").change(all_recalculate);
$(document).ready($(".js-recalculate").trigger("change"));


//===============================AJAX FUNCTIONS==================================
var count_default_worktypes = function(tab){
	var amount = 0;
	tab.find(".worktype").each(function(){
		amount++;
	});
	return amount;
};

var update_time = function(){ 
	cur_tab = $(this).parents(".tab-pane");
	var amount_of_wt = count_default_worktypes(cur_tab);
	
	var work_types = [];
	cur_tab.find(".worktype").find(".wt-select").find(":selected").each(function(){
		work_types.push($(this).val());
	});

	var tool_id = cur_tab.find(".tool-type").find(":selected").val();
	$.get(
		"{% url 'get_time' %}",
		{
			tool_id: tool_id,
			work_types: work_types,
		},
		function(data){
			time_owners = [];
			cur_tab.find(".time_value").not(".custom").each(function(){
				time_owners.push($(this));
			});
			for (var i = 0; i < amount_of_wt; i++) {
				time_owners[i].val(data.data[i]);
			};
			cur_tab.find(".time_value").each(all_recalculate);
		}
	);
};

var update_description = function(){
	var caller = $(this);
	selected_item = parseInt(caller.val());

	$.get(
		"{% url 'get_description' %}",
		{
			item_id: selected_item,
		},
		function(data){
			element = caller.parents(".worktype").find(".wt-description");
			$(element).attr('data-original-title', data.data).tooltip('fixTitle');
		}
	);
};
//show description on toogle
$(function () {
	$('[data-toggle="tooltip"]').tooltip()
});

$(".tool-type").change(update_time);
$(".wt-select").change(update_time);
$(".wt-select").change(update_description);

//=================================SUBMIT SETTINGS===========================
function set_names_of_fields(){
	var amount_of_wt = 0;
	$(".newpathcard_form").find(".worktype").each(function(){
		cur_num = String(amount_of_wt);
		$(this).find(".wt-select").attr("name", "wt_" + cur_num);
		$(this).find(".qnt").attr("name", "qnt_" + cur_num);
		$(this).find(".time_value").attr("name", "time_"+cur_num);
		amount_of_wt++;
	});
	$(".newpathcard_form").find(".wt_amount").val(amount_of_wt);
	
	var amount_of_wot = 0;
	$(".custom-work-overtype").each(function(){
		cur_num = String(amount_of_wot);
		alert(cur_num);
		$(this).find(".custom-overtype-input").attr("name", "custom_ot_" + cur_num);
		$(this).find(".custom-wt-owner").each(function(){
			$(this).val(-cur_num);
		});
		amount_of_wot++;
	});
	$(".newpathcard_form").find(".custom_wot_amount").val(amount_of_wot);

	var amount_of_custom_wt = 0;
	$(".newpathcard_form").find(".worktype_custom").each(function(){
		cur_num = String(amount_of_custom_wt + amount_of_wt);
		$(this).find(".wt-input").attr("name", "wt_" + cur_num);
		$(this).find(".qnt").attr("name", "qnt_" + cur_num);
		$(this).find(".time_value").attr("name", "time_" + cur_num);
		$(this).find(".custom-wt-owner").attr("name", "owner_" + cur_num);
		amount_of_custom_wt++;
	});
	$(".newpathcard_form").find(".custom_wt_amount").val(amount_of_custom_wt);
};

$(".submit").click(function(){
	$(".save_flag").val("False");
	set_names_of_fields();
});

$(".save").click(function(){
	$(".save_flag").val("True");
	set_names_of_fields();
	$(".newpathcard_form").ajaxSubmit({
		url: '{% url "save_pathcard" %}',
		type: 'post',
	})
})
//prevent from submit by pressing Enter
$(document).ready(function() {
	$(window).keydown(function(event){
		if(event.keyCode == 13) {
			event.preventDefault();
			return false;
		}
	});
});
</script>

</html>
