	<!--Вёрстка для создания типа работы, заданного пользователем -->
<div class="hide adding_reserve_custom">
	<div class="form-container form-container-warning">
		<div class="form-group">
			<input type="text" class="hide form-control custom-wt-owner" name="" {% if overtype == None %} value="None" {% else %} value="{{ overtype.id }}" {% endif %}/>

			<label class="col-sm-3 control-label">Тип работы</label>
			<div class="col-sm-2">
				<input type="text" class="form-control wt-input"/>
			</div>

			<label class="col-sm-3 control-label">Количество</label>
			<div class="col-sm-2">
				<input type="number" class="form-control qnt_reserve" value="1"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label">Время на один</label>
			<div class="col-sm-2">
				<input type="number" class="form-control time_reserve custom" value=""/>
			</div>
			
			<label class="col-sm-3 control-label">Итого времени</label>
			<div class="col-sm-2">
				<input type="number" class="form-control sum_time_reserve" disabled/>
			</div>

			<div class="col-sm-2">
				<button class="btn deletion" type="button">Удалить</button>
			</div>
		</div>
	</div>
</div>


	<!--Внутри этого div'а находится часть вёрстки, предназначенная для реализации функции добавления нового типа работы-->

<div class="hide adding_reserve">
	<div class="form-container">
		<div class="form-group">	
			<label class="col-sm-3 control-label">Тип работы</label>
			<div class="col-sm-2">
				<select class="form-control wt-select">
					{% for curitem in set %}
					<option value="{{ curitem.id }}">{{ curitem }}</option>
					{% endfor %}
				</select>
			</div>

			<label class="col-sm-3 control-label">Количество</label>
			<div class="col-sm-2">
				<input type="number" class="form-control qnt_reserve" value="1"/>
			</div>	
		
			<div class="col-sm-2">
				<label class="wt-description" data-toggle="tooltip" data-placement="top" title="{{ item.description }}">Описание</label>
			</div>
		</div>

		<div class="form-group">	
			<label class="col-sm-3 control-label">Время на один</label>
			<div class="col-sm-2">
				<input type="number" class="form-control time_reserve" value=""/>
			</div>
			
			<label class="col-sm-3 control-label">Итого времени</label>
			<div class="col-sm-2">
				<input type="number" class="form-control sum_time_reserve" disabled/>
			</div>

			<div class="col-sm-2">
				<button class="btn deletion" type="button">Удалить</button>
			</div>
		</div>
	</div>
</div>


{% for item in set %}
<div class="worktype">
	<div class="form-container">
		<div class="form-group">	
			<label class="col-sm-3 control-label">Тип работы</label>
			<div class="col-sm-2">
				<select class="form-control wt-select">
					{% for curitem in set %}
					<option value="{{ curitem.id }}" {% if item == curitem %} selected="selected" {% endif %}>{{ curitem }}</option>
					{% endfor %}
				</select>
			</div>

			<label class="col-sm-3 control-label">Количество</label>
			<div class="col-sm-2">
				<input type="number" class="form-control qnt js-recalculate" value="1"/>
			</div>	
			<div class="col-sm-2">
				<label class="wt-description" data-toggle="tooltip" data-placement="top" title="{{ item.description }}">Описание</label>
			</div>
		</div>

		<div class="form-group">	
			<label class="col-sm-3 control-label">Время на один</label>
			<div class="col-sm-2">
				<input type="number" class="form-control time_value js-recalculate" value=""/>
			</div>
			
			<label class="col-sm-3 control-label">Итого времени</label>
			<div class="col-sm-2">
				<input type="number" class="form-control time_sum" disabled/>
			</div>

			<div class="col-sm-2">
				<button class="btn deletion" type="button">Удалить</button>
			</div>
		</div>
	</div>
</div>
{% endfor %}
<hr class="divider">
