<div class="form-container">
	<div class="form-group">
		<label class="col-sm-2 control-label">Тип оборудования</label>
		<div class="col-sm-3">
			<select class="form-control tool-type" name="{{ field_name }}_type">
				{% if not choosen_works %}
					<option selected="selected">Выберите оборудование</option>
				{% endif %}
				{% for type in types %}
					<option value="{{ type.id }}" {% if type == choosen_type %} selected="selected" {% endif %}>{{ type.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>