	<!--Вёрстка для добавления кастомного овертипа-->
<div class="hide form-container form-container-warning custom-work-overtype-reserve">
	<div class="form-group">
		<div class="col-sm-4">
			<input type="text" class="form-control custom-overtype-input"/>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-5">
			<label class="control-label custom-overtype-label"></label>
		</div>
	</div>
	{% include "pathcard/item_in_set.html" with set=None hard=hard overtype=None %}
	<div class="form-group">
		<label class="col-sm-3 control-label">Времени на операцию</label>
		<div class="col-sm-2">
			<input type="number" class="form-control oper_time_reserve" disabled/>
		</div>
		<div class="col-sm-2"></div>
		<div class="col-sm-3">
			<button class="btn btn-warning custom-adding" type="button">Добавить свой тип</button>
		</div>
	</div>
</div>

{% for key, value in overtypes.items %}
<div class="form-container work-overtype">
	<label class="control-label">{{ key }}</label>
	{% include "pathcard/item_in_set.html" with set=value hard=hard overtype=key %}

	<div class="form-group">
		<label class="col-sm-3 control-label">Времени на операцию</label>
		<div class="col-sm-2">
			<input type="number" class="form-control oper_time" disabled/>
		</div>
		
		<div class="col-sm-3">
			<button class="btn btn-warning custom-adding" type="button">Добавить свой тип</button>
		</div>
		<div class="col-sm-3">
			<button class="btn adding" type="button">Добавить существующий</button>
		</div>
	</div>

</div>
{% endfor %}
<hr class="oper-divider">